* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body {
    text-align: center;
    align-items: center;
    background-color:#49bbb1;
    margin-top: 3em;
    h1 {    
    color: #2b2d42;
    }
    h2 {
        color: #b63030;
    }
}
.box {
    display: flex;
}
.cp1 {
    margin:3em auto;
    .chart {
        position: relative;
        text-align: center;
        margin:0 auto;
        font-size: 50px;
    }
    .titr {
        color: rgb(131, 57, 102);
    }
}
.cp2 {
    margin:3em auto;
    .chart {
        position: relative;
        text-align: center;
        margin:0 auto;
        font-size: 50px;
    }
    .titr {
        color: rgb(131, 57, 102);
    }
}
h3 {
    color: #2b2d42;
}

@media only screen and(max-width:768px) {
    .box {
        display: grid;
    }
}